html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.graph-editor {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 菜单 */
.graph-editor > .graph-menu {
  position: absolute;
  width: 150px;
  background: #fff;
  color: #000;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
.graph-editor > .graph-menu > .command {
  padding: 8px;
  height: 12px;
  font-size: 12px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.graph-editor > .graph-menu > .command:hover {
  cursor: pointer;
  background: #e5f7ff;
}

/* 工具栏 */
.graph-editor > .graph-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  border-bottom: 1px solid #eee;
  background: #3967fa;
  font-size: 0;
}
.graph-toolbar > .title {
  display: inline-block;
  padding: 0 5px;
}
.graph-toolbar > .operations {
  display: inline-block;
  font-size: 0;
  height: 40px;
  vertical-align: middle;
  padding-right: 5px;
}
.graph-toolbar > .title > .iconfont {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  vertical-align: top;
  color: #fff;
}
.graph-toolbar .operations {
  padding-left: 5px;
  border-left: 1px solid #8897ec;
}
.graph-toolbar .operations .iconfont {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  color: #fff;
  cursor: pointer;
}
.graph-toolbar .operations .operation:hover,
.graph-toolbar .operations .operation.active {
  background: #2c4fc0;
}
.graph-toolbar .operations .operation + .operation {
  margin-left: 5px;
}
.graph-toolbar .operations .operation.not-allow {
  color: #aaa;
  cursor: not-allowed;
}
.graph-toolbar .operations .operation.not-allow:hover {
  background: #3967fa;
}

/* 过滤面板 */
.graph-editor .graph-search {
  position: absolute;
  top: 61px;
  left: 0;
  width: 250px;
  border: 1px solid #3967fa;
  background: #f7f9fb;
  transition: all 0.5s ease-out;
  transform: translate3d(-300px, 0, 0);
  overflow: hidden;
}
.graph-editor .graph-search.active {
  transform: translate3d(0, 0, 0);
}
.graph-search .search-title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  background: #3967fa;
  color: #fff;
}
.graph-search .search-section {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}
.graph-search .search-section .search-input-box {
  line-height: 30px;
}
.search-section .search-input-box .search-input {
  height: 40px;
  width: 180px;
  font-size: 14px;
  background: #fff;
}
.search-section .search-input-box .input {
  cursor: pointer;
}
.search-section .search-input-box .label {
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}
input[type='text'],
input[type='number'] {
  background: none;
  outline: none;
  -webkit-appearance: none;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0;
}
input[type='text']:focus,
input[type='number']:focus {
  border: 1px solid #3967fa;
  background: #fff;
  outline: none;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-appearance: none;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  outline: none;
  margin: 0;
  vertical-align: middle;
}
input[type='checkbox']:checked {
  color: #fff;
  background: #1890ff;
  border: none;
}
input[type='checkbox']:checked::after {
  content: '\e610';
  float: left;
  width: 20px;
  height: 20px;
  font-family: 'iconfont';
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.graph-search .btns {
  text-align: right;
  padding: 10px;
}
.graph-search .btns .btn {
  margin: 0 10px;
  width: 50px;
  height: 30px;
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}
.graph-search .btns .btn.btn-info {
  background: #3967fa;
  border-color: #2e6da4;
  color: #fff;
}
.graph-search .btns .btn.btn-info:active {
  background: #2c4fc0;
  border-color: #204d74;
}
.graph-search .btns .btn.btn-default {
  background: #fff;
  border-color: #ccc;
  color: #333;
}
.graph-search .btns .btn.btn-default:active {
  background: #e6e6e6;
  border-color: #adadad;
}

/* 信息面板 */
.graph-editor .graph-info {
  position: absolute;
  right: 0;
  top: 61px;
  width: 300px;
  border: 1px solid #3967fa;
  background: #fff;
  transition: all 0.5s ease-out;
  transform: translate3d(350px, 0, 0);
  overflow: hidden;
}
.graph-editor .graph-info.active {
  transform: translate3d(0, 0, 0);
}
.graph-info .info-title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  background: #3967fa;
  color: #fff;
}
.graph-info .info-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #f7f9fb;
}
.info-content .info-item {
  box-sizing: border-box;
  width: 50%;
  padding: 0 20px;
  margin: 15px 0;
  text-align: center;
}
.info-content .info-item:nth-child(2n + 1) {
  border-right: 1px solid #3967fa;
}
.info-content .info-item:nth-child(n-1) .info-item-num:after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #3967fa;
  bottom: -16px;
}
.info-content .info-item .info-item-type {
  line-height: 1.5;
}
.info-content .info-item .info-item-num {
  font-size: 28px;
  color: #3967fa;
  line-height: 2;
}

/* 编辑表单弹窗 */
.graph-editor .graph-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 300px; */
  border: 1px solid #3967fa;
  background: #f7f9fb;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}
.graph-modal .modal-title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  background: #3967fa;
  color: #fff;
  margin-bottom: 10px;
}
.graph-modal .form-item {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
.graph-modal .form-item .input {
  height: 30px;
  font-size: 14px;
  background: #fff;
}
.graph-modal .form-item .label {
  vertical-align: middle;
  user-select: none;
  font-size: 14px;
  padding: 0 10px;
}

.graph-modal .btns {
  text-align: right;
  padding: 10px;
}
.graph-modal .btns .btn {
  margin: 0 10px;
  width: 50px;
  height: 30px;
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}
.graph-modal .btns .btn.btn-info {
  background: #3967fa;
  border-color: #2e6da4;
  color: #fff;
}
.graph-modal .btns .btn.btn-info:active {
  background: #2c4fc0;
  border-color: #204d74;
}
.graph-modal .btns .btn.btn-default {
  background: #fff;
  border-color: #ccc;
  color: #333;
}
.graph-modal .btns .btn.btn-default:active {
  background: #e6e6e6;
  border-color: #adadad;
}

/* 动画 */
.zoom-big-enter,
.zoom-big-appear {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.zoom-big-leave {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.zoom-big-enter.zoom-big-enter-active,
.zoom-big-appear.zoom-big-appear-active {
  -webkit-animation-name: antZoomBigIn;
  animation-name: antZoomBigIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.zoom-big-leave.zoom-big-leave-active {
  -webkit-animation-name: antZoomBigOut;
  animation-name: antZoomBigOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none;
}

.zoom-big-enter,
.zoom-big-appear {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.zoom-big-leave {
  -webkit-animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.zoom-big-fast-enter,
.zoom-big-fast-appear {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.zoom-big-fast-leave {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.zoom-big-fast-enter.zoom-big-fast-enter-active,
.zoom-big-fast-appear.zoom-big-fast-appear-active {
  -webkit-animation-name: antZoomBigIn;
  animation-name: antZoomBigIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.zoom-big-fast-leave.zoom-big-fast-leave-active {
  -webkit-animation-name: antZoomBigOut;
  animation-name: antZoomBigOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none;
}

.zoom-big-fast-enter,
.zoom-big-fast-appear {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.zoom-big-fast-leave {
  -webkit-animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

@-webkit-keyframes antZoomBigIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes antZoomBigIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes antZoomBigOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes antZoomBigOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.graph-full-screen {
  padding: 0 20px;
}
