html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.link {
    fill: none;
}

.gradient-link {
    fill: none;
    stroke-opacity: .5;
}

.solid {
    stroke-dasharray: none;
}

.dash {
    stroke-dasharray: 0,2,1;
}

.text-transparent {
    fill: transparent;
}

.link-text,
.node-text {
    font-size: 12px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link.mouseenter,
.link.selected-link {
    stroke: #1F8FE0;
}

.link-text.unselected-text,
.node-text.unselected-text {
    font-weight: 500;
}

.node-text.selected-text,
.node-text.mouseenter-text,
.link-text.selected-text,
.link-text.mouseenter-text {
    fill: #1F8FE0;
    font-weight: 700;
}

.graph-editor {
    position: relative;
    overflow: hidden;
}

.graph-editor .graph-topbar {
    height: 38px;
}

.graph-editor .graph-toolbar {
    height: 100%;
}

.graph-editor .graph-toolbar span {
    display: inline-block;
    cursor: pointer;
    width: 44px;
    height: 38px;
    border: 1px solid rgba(31, 143, 224, 1);
    border-right-width: 0;
}

.graph-editor .graph-toolbar span:hover,
.graph-editor .graph-toolbar span.checked {
    background-color: rgba(31, 143, 224, 1);
}

.graph-editor .graph-toolbar span:nth-child(n+2):hover,
.graph-editor .graph-toolbar span:nth-child(n+2).checked {
    border-left-color: #fff;
}

.graph-editor .graph-toolbar span.disabled {
    cursor: not-allowed;
}

.graph-editor .graph-toolbar span.disabled:hover {
    border-left-color: rgba(31, 143, 224, 1);
}

.graph-editor .graph-toolbar span.disabled + span.disabled {
    border-left-color: #ccc;
}

.graph-editor .graph-toolbar .undo {
    border-radius: 5px 0 0 5px;
    background: url(../graph-editor/undob_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .undo:hover,
.graph-editor .graph-toolbar .undo.checked {
    background-image: url(../graph-editor/undo_icon.png);
}

.graph-editor .graph-toolbar .undo.disabled {
    background: url(../graph-editor/undoh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .redo {
    background: url(../graph-editor/redob_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .redo:hover,
.graph-editor .graph-toolbar .redo.checked {
    background-image: url(../graph-editor/redo_icon.png);
}

.graph-editor .graph-toolbar .redo.disabled {
    background: url(../graph-editor/redoh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .copy {
    background: url(../graph-editor/copyb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .copy:hover,
.graph-editor .graph-toolbar .copy.checked {
    background-image: url(../graph-editor/copy_icon.png);
}

.graph-editor .graph-toolbar .copy.disabled {
    background: url(../graph-editor/copyh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .paste {
    background: url(../graph-editor/pasteb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .paste:hover,
.graph-editor .graph-toolbar .paste.checked {
    background-image: url(../graph-editor/paste_icon.png);
}

.graph-editor .graph-toolbar .paste.disabled {
    background: url(../graph-editor/pasteh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .delete {
    background: url(../graph-editor/deleteb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .delete:hover,
.graph-editor .graph-toolbar .delete.checked {
    background-image: url(../graph-editor/delete_icon.png);
}

.graph-editor .graph-toolbar .delete.disabled {
    background: url(../graph-editor/deleteh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .multi {
    /*border-radius: 5px 0 0 5px;*/
    background: url(../graph-editor/multib_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .multi:hover,
.graph-editor .graph-toolbar .multi.checked {
    background-image: url(../graph-editor/multi_icon.png);
}

.graph-editor .graph-toolbar .multi.disabled {
    background: url(../graph-editor/multih_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .drag {
    background: url(../graph-editor/dragb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .drag:hover,
.graph-editor .graph-toolbar .drag.checked {
    background-image: url(../graph-editor/drag_icon.png);
}

.graph-editor .graph-toolbar .drag.disabled {
    background: url(../graph-editor/dragh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .up {
    background: url(../graph-editor/topb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .up:hover,
.graph-editor .graph-toolbar .up.checked {
    background-image: url(../graph-editor/top_icon.png);
}

.graph-editor .graph-toolbar .up.disabled {
    background: url(../graph-editor/toph_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .down {
    background: url(../graph-editor/botb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .down:hover,
.graph-editor .graph-toolbar .down.checked {
    background-image: url(../graph-editor/bot_icon.png);
}

.graph-editor .graph-toolbar .down.disabled {
    background: url(../graph-editor/both_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .left {
    background: url(../graph-editor/leftb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .left:hover,
.graph-editor .graph-toolbar .left.checked {
    background-image: url(../graph-editor/left_icon.png);
}

.graph-editor .graph-toolbar .left.disabled {
    background: url(../graph-editor/lefth_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .right {
    background: url(../graph-editor/rightb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .right:hover,
.graph-editor .graph-toolbar .right.checked {
    background-image: url(../graph-editor/right_icon.png);
}

.graph-editor .graph-toolbar .right.disabled {
    background: url(../graph-editor/righth_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .force {
    background: url(../graph-editor/forceb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .force:hover,
.graph-editor .graph-toolbar .force.checked {
    background-image: url(../graph-editor/force_icon.png);
}

.graph-editor .graph-toolbar .force.disabled {
    background: url(../graph-editor/forceh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .circle {
    background: url(../graph-editor/circleb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .circle:hover,
.graph-editor .graph-toolbar .circle.checked {
    background-image: url(../graph-editor/circle_icon.png);
}

.graph-editor .graph-toolbar .circle.disabled {
    background: url(../graph-editor/circleh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .sankey {
    background: url(../graph-editor/sankeyb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .sankey:hover,
.graph-editor .graph-toolbar .sankey.checked {
    background-image: url(../graph-editor/sankey_icon.png);
}

.graph-editor .graph-toolbar .sankey.disabled {
    background: url(../graph-editor/sankeyh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .zoom-in {
    background: url(../graph-editor/fadb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .zoom-in:hover,
.graph-editor .graph-toolbar .zoom-in.checked {
    background-image: url(../graph-editor/fad_icon.png);
}

.graph-editor .graph-toolbar .zoom-in.disabled {
    background: url(../graph-editor/fadh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .zoom-out {
    background: url(../graph-editor/suxb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .zoom-out:hover,
.graph-editor .graph-toolbar .zoom-out.checked {
    background-image: url(../graph-editor/sux_icon.png);
}

.graph-editor .graph-toolbar .zoom-out.disabled {
    background: url(../graph-editor/suxh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .fit {
    background: url(../graph-editor/fitb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .fit:hover,
.graph-editor .graph-toolbar .fit.checked {
    background-image: url(../graph-editor/fit_icon.png);
}

.graph-editor .graph-toolbar .fit.disabled {
    background: url(../graph-editor/fith_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .actual-size {
    border-right-width: 1px;
    border-radius: 0 5px 5px 0;
    background: url(../graph-editor/actualb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .actual-size:hover,
.graph-editor .graph-toolbar .actual-size.checked {
    background-image: url(../graph-editor/actual_icon.png);
}

.graph-editor .graph-toolbar .actual-size.disabled {
    background: url(../graph-editor/actualh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .full {
    border-right-width: 1px;
    border-radius: 0 5px 5px 0;
    background: url(../graph-editor/fullb_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-toolbar .full:hover,
.graph-editor .graph-toolbar .full.checked {
    background-image: url(../graph-editor/full_icon.png);
}

.graph-editor .graph-toolbar .full.disabled {
    background: url(../graph-editor/fullh_icon.png) no-repeat center center/26px 26px;
}

.graph-editor .graph-content {
    position: relative;
    height: calc(100% - 38px);
}

.graph-editor .graph-show {
    height: 100%;
}

.graph-editor .graph-menu {
    position: absolute;
    width: 150px;
    background: #fff;
    color: #000;
    z-index: 2;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
}

.graph-editor .graph-menu .command {
    padding: 8px;
    height: 12px;
    font-size: 12px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.graph-editor .graph-menu .command:hover {
    cursor: pointer;
    background: #e5f7ff;
}

.graph-editor .graph-tooltip {
    position: absolute;
    margin: 0;
    padding: 0;
    max-width: 300px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    opacity: 0;
    box-sizing: border-box;
}

.graph-editor .graph-tooltip.graph-tooltip-placement-top  {
    padding-bottom: 8px;
}

.graph-editor .graph-tooltip .graph-tooltip-arrow {
    position: absolute;
    left: 50%;
    bottom: 3px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    border-top-color: rgba(0, 0, 0, .75);
}

.graph-editor .graph-tooltip .graph-tooltip-inner {
    padding: 6px 8px;
    min-height: 32px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}

.zoom-big-enter,.zoom-big-appear {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-enter.zoom-big-enter-active,.zoom-big-appear.zoom-big-appear-active {
    -webkit-animation-name: antZoomBigIn;
    animation-name: antZoomBigIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.zoom-big-leave.zoom-big-leave-active {
    -webkit-animation-name: antZoomBigOut;
    animation-name: antZoomBigOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    pointer-events: none
}

.zoom-big-enter,.zoom-big-appear {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
    animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.zoom-big-leave {
    -webkit-animation-timing-function: cubic-bezier(.78, .14, .15, .86);
    animation-timing-function: cubic-bezier(.78, .14, .15, .86)
}

.zoom-big-fast-enter,.zoom-big-fast-appear {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-fast-leave {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-fast-enter.zoom-big-fast-enter-active,.zoom-big-fast-appear.zoom-big-fast-appear-active {
    -webkit-animation-name: antZoomBigIn;
    animation-name: antZoomBigIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.zoom-big-fast-leave.zoom-big-fast-leave-active {
    -webkit-animation-name: antZoomBigOut;
    animation-name: antZoomBigOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    pointer-events: none
}

.zoom-big-fast-enter,.zoom-big-fast-appear {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
    animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.zoom-big-fast-leave {
    -webkit-animation-timing-function: cubic-bezier(.78, .14, .15, .86);
    animation-timing-function: cubic-bezier(.78, .14, .15, .86)
}

@-webkit-keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomBigOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomBigOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

.graph-full-screen {
    padding: 0 20px;
}