html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.graph-editor {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.graph-editor .graph-menu {
  position: absolute;
  width: 150px;
  background: #fff;
  color: #000;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
}

.graph-editor .graph-menu .command {
  padding: 8px;
  height: 12px;
  font-size: 12px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.graph-editor .graph-menu .command:hover {
  cursor: pointer;
  background: #e5f7ff;
}

.graph-editor .graph-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 50px;
  padding: 0 10px;
  background: #3967fa;
  font-size: 0;
}
.graph-toolbar .operations {
  display: inline-block;
  font-size: 0;
  height: 40px;
  vertical-align: middle;
  padding-right: 5px;
}
.graph-toolbar .operations + .operations {
  padding-left: 5px;
  border-left: 1px solid #8897ec;
}

.graph-editor .operations .iconfont {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.graph-toolbar .operations .operation {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  color: #fff;
  cursor: pointer;
}
.graph-toolbar .operations .operation:hover,
.graph-toolbar .operations .operation.active {
  background: #2c4fc0;
}

.graph-toolbar .operations .operation + .operation {
  margin-left: 5px;
}

.zoom-big-enter,.zoom-big-appear {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-enter.zoom-big-enter-active,.zoom-big-appear.zoom-big-appear-active {
    -webkit-animation-name: antZoomBigIn;
    animation-name: antZoomBigIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.zoom-big-leave.zoom-big-leave-active {
    -webkit-animation-name: antZoomBigOut;
    animation-name: antZoomBigOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    pointer-events: none
}

.zoom-big-enter,.zoom-big-appear {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
    animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.zoom-big-leave {
    -webkit-animation-timing-function: cubic-bezier(.78, .14, .15, .86);
    animation-timing-function: cubic-bezier(.78, .14, .15, .86)
}

.zoom-big-fast-enter,.zoom-big-fast-appear {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-fast-leave {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.zoom-big-fast-enter.zoom-big-fast-enter-active,.zoom-big-fast-appear.zoom-big-fast-appear-active {
    -webkit-animation-name: antZoomBigIn;
    animation-name: antZoomBigIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.zoom-big-fast-leave.zoom-big-fast-leave-active {
    -webkit-animation-name: antZoomBigOut;
    animation-name: antZoomBigOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    pointer-events: none
}

.zoom-big-fast-enter,.zoom-big-fast-appear {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: cubic-bezier(.08, .82, .17, 1);
    animation-timing-function: cubic-bezier(.08, .82, .17, 1)
}

.zoom-big-fast-leave {
    -webkit-animation-timing-function: cubic-bezier(.78, .14, .15, .86);
    animation-timing-function: cubic-bezier(.78, .14, .15, .86)
}

@-webkit-keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomBigOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomBigOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

.graph-full-screen {
    padding: 0 20px;
}